

services:
  db:
    image: postgres:15
    container_name: maxvolt_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-password}
      POSTGRES_DB: ${DB_NAME:-maxvolt_battery_db}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: maxvolt_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@maxvolt.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

  
volumes:
  postgres_data: